<div
    class="{{commonIsometricTile.cssClass().static()}}"
    data-ng-show="commonIsometricTile.show()"
    data-ng-class="commonIsometricTile.cssClass().conditional()"
    style="
        left: {{commonIsometricTile.left()}}px;
        top: {{commonIsometricTile.top()}}px;
        width: {{commonIsometricTile.size().x()}}px;
        height: {{commonIsometricTile.size().y()}}px;
    ">
        <img class="unselectable" width="{{commonIsometricTile.size().x()}}" data-ng-src="{{image}}" />
        <div class="unselectable overlay"></div>
</div>
