[component-bracket] {
    .bracket {
        position: relative;
        border: none;
        height: 10px;
        background-color: #2df;
        background-repeat: repeat-x;
        background-image: url(img/component/application/img/gradient-1x10-lightblue-white.png);

        & > .bracket-inner {
            position: absolute;
            top: 4px;
            left: 4px;
            right: 4px;
            bottom: 4px;
            background-color: #444;
        }

        &:first-child > .bracket-inner {
            bottom: 0;
        }
        &:last-child {
            background-position: bottom;

            & > .bracket-inner {
                top: 0;
            }
        }
    }

    .horizontal {
        .bracket-cell {
            display: table-cell;
        }
        .bracket {
            border: none;
            background-repeat: repeat-y;
            background-image: url(img/component/application/img/gradient-10x1-lightblue-white.png);

            &:first-child,
            &:last-child {
                width: 10px;
            }
            &:first-child > .bracket-inner {
                bottom: 4px;
                right: 0;
            }
            &:last-child {
                background-position: right;

                & > .bracket-inner {
                    top: 4px;
                    left: 0;
                }
            }
        }
    }
}
